/dev/ion                                            0666    system          graphics
/dev/dma_heap/linux,cma                             0666    system          graphics
/dev/media0                                         0666    media           media
/dev/graphics/fb0                                   0666    system          graphics
/dev/video*                                         0666    system          camera
/sys/class/udc/fe980000.usb/current_speed           0666    system          system
/dev/ttyACM0                                        0777    system          system
/dev/ttyUSB1                                        0777    system          system
/dev/rfkill                                         0777    bluetooth       bluetooth
